<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set Hibernate loggers to ERROR level to suppress INFO/WARN messages -->
    <logger name="org.hibernate" level="ERROR" />
    <logger name="org.hibernate.SQL" level="ERROR" />
    <logger name="org.hibernate.type" level="ERROR" />
    <logger name="org.hibernate.tool.hbm2ddl" level="ERROR" />
    <logger name="org.hibernate.annotations" level="ERROR" />
    <logger name="org.hibernate.engine" level="ERROR" />
    <logger name="org.hibernate.resource" level="ERROR" />
    <logger name="org.hibernate.dialect" level="ERROR" />
    <logger name="org.hibernate.connection" level="ERROR" />
    
    <!-- Set root logger level -->
    <root level="ERROR">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
